.popup__form-name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 42px auto 54px 36px;
}

@media (max-width: 700px) {
  .popup__form-name {
    font-size: 18px;
    line-height: 22px;
    margin: 41px 22px 75px;
  }
}
