.cards {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  gap: 20px 17px;
  padding-bottom: 66px;
  justify-content: center;
}

@media (max-width: 700px) {
  .cards {
    padding: 0 19px 48px;
    gap: 20px;
  }
}
